  /* ICONS */
  svg {
    width: 28px;
    height: 19px;
    margin-right: 5px;
    fill: #F0F0F0;
  }
  
  .is-high-score {
    fill: #FFC657;
    animation: grow 0.35s ease-in-out;
    transform-origin: 50% 50%;
  }
  
  @keyframes grow {
    50% { transform: scale(1.4) rotate(-3deg); }
  }
  
  
  /* COMPONENT STYLES -------------------- */
  .scoreboard {
    background: #fff;
    width: 700px;
    margin: 70px auto;
    box-shadow: 0 2px 0 rgb(48, 18, 168);
    border-radius: 6px;
    overflow: hidden;
  }
  
  .player {
    display: flex;
    font-size: 1.2em;
    border-bottom: solid 2px #EEEEEE;
    letter-spacing: 2px;
  }
  
    .player:last-of-type {
      border-bottom-color: #D4CAFF;
    }
  
    .player-name:hover .remove-player {
      visibility: visible;
    }
  
  
    .player-name {
      flex-grow: 1;
      line-height: 3.5em;
      padding-left: 10px;
    }
  
  .stats {
    width: 170px;
  }
  
  .stats {
    display: flex;
    margin: 0 0 0 28px;
    font-weight: normal;
  }
  
    .stats td:first-child {
      text-align: right;
      font-weight: normal;
      letter-spacing: 2px;
      font-size: .7em;
    }
  
    .stats td:last-child {
      text-align: left;
    }
  
    .avatar {
      margin-right: 100px;
      margin-top: 15px;
    }
  
    .score {
      margin-right: 180px;
      margin-top: 25px;
    }