
.tool-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    .tools {
        text-align: center;

        .undo-redo-container {
            display: flex;
            flex-direction: row;
        }
    }
}