.playButton {
    margin: 0 auto;
    display: block;
    font-Size: 35px;
    line-Height: 1 ;
    padding: 20px 40px ;
    border-Radius: 50px;
    background-Color: #f58322;
    font-Family: inherit;
}