.mainDiv{
    background-image: url('../../nuage.svg'),url('../../nuage.svg'),url('../../nuage.svg'),
    url('../../nuage.svg'),url('../../nuage.svg'),url('../../nuage.svg'),
    url('../../nuage.svg'),url('../../nuage.svg'),url('../../nuage.svg');
    background-size: 320px,150px,170px,150px,250px,180px,130px,170px,70px;
    background-position-x: 0%,10%,50%,60%,75%,35%,77%,98%,65%;
    background-position-y: 40%,0%,25%,55%,75%,90%,98%,10%,35%;
    background-repeat:no-repeat;
}
.mainContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    
    .container {
        margin: 20px auto;
        .title {
            font-size: 30px;
            margin: 0;
            margin-bottom: 30px;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;
            letter-spacing: 1px;
        }
        .inputName {
            border-radius: 50px;
            background-color: #cce3f6;
            border: 1px solid black;
            padding: 0px 15px;
            font-size: 20px;
        }
    }
}

.tagline {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
