.mainContainer {
    display: flex;
    flex-Wrap: wrap;
    align-Items: center;
    justify-Content: center;
    padding: 0;
    .container {
        margin: 20px auto;
        .title {
            font-Size: 30px;
            margin: 0;
            margin-Bottom: 30px;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;
            letter-Spacing: 1px;
        }
        .inputName {
            border-radius: 50px;
            background-Color: #cce3f6;
            border: 1px solid black;
            padding: 0px 15px;
            font-Size: 20px;
        }
    }
}
