.canvas-container{
    display: flex;
    flex-direction: column;
    height: 93%;
    
    .draw-area {
        flex-grow: 1;
        max-width: 100%;
        position: relative;
        background-color: white;
        margin-top: 5px;
    }
    
    .icon {
        margin: 0 auto;
        padding: 20px 40px;
    }
}