.menuBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    margin: 5px auto 30px auto;

    .chipsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        .chip {
            margin: 5px;
            padding: 15px 30px;
            height: 35px;
            
            &.active {
                background-color: purple;
            }
        }
    }
}