.message {
    list-style: none;
}

.owner {
    margin: 1em;
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: #8BC34A;
    padding: 0.5em 1.5em;
    border-radius: 20px;
    color: #FFF;
    word-break: break-word;
    width: fit-content;
    margin-left: auto;
}

.guest {
    margin: 0px;
    margin-top: 0px;
    background-color: #0091EA;
    padding: 0.5em 1.5em;
    border-radius: 20px;
    color: #FFF;
    word-break: break-word;
    width: fit-content;
    margin-right: auto;
}
.guestUsername {
    padding-top: 0.5em;
    padding-left: 1em;
    margin: 0px;
    border-radius: 20px;
    color: black;
    max-width: 65%;
    overflow: hidden;
    padding-bottom: 5px;

}

.guestAvatar {
    color: transparent;
    background-color: transparent;
    width: 2rem;
    height: 2rem;
    margin-right: 5px;
}

.messageDisplay {
    font-family: Sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.guestDisplay {
    flex-direction: column;
}

.guestMessageTime {
    padding-left: 1em;
    margin: 0px;
    color: gray;
    font-size: 15px;
    margin-left: 0;
    margin-right: auto;
    max-width: 80px;
    padding-top: 5px;
}

.ownerMessageTime {
    padding: 0px;
    margin: 0px;
    color: gray;
    font-size: 15px;
    margin-left: auto;
    margin-right: 0;
    max-width: 80px;
    padding-top: 5px;
}

.ownerDisplay {
    margin-left: auto;
    margin-right: 0;
}
