.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100%;
    padding: 30px 0;
}
.wordsProposition {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rejectProposition {
    position: absolute;
    right: 35;
    bottom: 35;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 25%;
    background-color: #404040;
    border: 2px solid #000;
    box-shadow: 24;
    padding: 4;
}
