.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 20%;
    background: linear-gradient(180deg, rgb(31, 47, 152) 0%, rgb(0, 81, 202) 36%, rgba(0,243,253,1) 100%);
    padding: 1%;
    .words-proposition {
        display: flex;
        flex-Direction: row;
        justify-Content: center;
        align-Items: center;
    }
    .reject-proposition {
        position: absolute;
    }
    h2{
        text-align:center;
    }
}
