.chat-btn {
    position: absolute;
    bottom: 25px;
    right: 25px;
}
.modal-chat {
    display: flex;
    justify-content: center;
    align-items: center;

    .box-chat {
        width: 700px;
        max-width: 100vw;
        background-color: rgb(255, 255, 255);
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        border-radius: 20px;
    
        h2 {
            margin-bottom: 40px;
            letter-spacing: 1.5px;
        }

        .send-btn {
            margin-top: 30px;
        }
    }
}