.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
    .avatar {
        width: 180px;
        height: 180px;
        border: 5px solid black;
        background: #ffcc00 !important;
    }
    .caracteristic-picker {
        margin-left: 15px;
        text-align: center;
    }

    .caracteristic-title {
        font-size: 20px;
        margin: 10px 0;
    }
}

@media (min-width: 1536px) {
    
}

@media (min-width: 1200px) {

}

@media (min-width: 900px) {

}

@media (min-width: 600px) {

}