.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    background-color: white;
    box-shadow: 24;
    padding: 15px;
  }

.listPlayers {
    list-style: none;
    padding: 20px 1em;
    margin: 0;
    font-size: x-large;
}
.player {
    text-align: center;
    padding: '5px';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

.userAvatar {
    color: transparent;
    background-color: transparent;
    min-width: 2rem;
    height: 2rem;
    margin-right: 5px;
    border: 1px solid black;
  }

.userBox {
    display: flex;
    padding-bottom: 10px;
  }