@keyframes zoom {
    0% {
        font-size: 100%;
    }
    25% {
        font-size: 120%;
    }
    75% {
        font-size: 100%;
    }
    100% {
        font-size: 80%;
    }
}
.timer {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align :center;
    margin-top: 20px;
    font-size: 30px;
    
    &.danger, &.warning {
        .time {
            animation: zoom 1s infinite linear;
        }
    }
    &.danger .time {
        color: red;
    }
    &.warning .time {
        color: orange;
    }

    .time {
        font-size: 100%;
        height: 50px;
        display: flex;
        align-items: center;
    }
}