$bg: rgba(5, 32, 83, 0.555);
.animation-box {
    display:flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:70%;
    background-color: $bg;
    border: 2px solid $bg;
    box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px, rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;
    text-align: center;
    outline: none;

    h2 {
        font-size: 30px;
        line-height: 45px;
        
    }

    &.danger {
        h2 {
            color: rgb(255, 208, 0);
        }
    }
    .pentaboy {
        height: 100%;
        width: 100%
    }
}
    