@import url('https://fonts.googleapis.com/css?family=Bangers');

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: rgb(31, 47, 152);
  background: linear-gradient(180deg, rgb(31, 47, 152) 0%, rgb(0, 81, 202) 36%, rgba(0,243,253,1) 100%);
}
#root, .App {
  height: 100%;
  min-height: 100%;
}
body {
  margin: 0;
  font-family: 'Bangers', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
