.server-container {
    display: flex;
    height: 100%;
    padding: 1em;
    background-image: url('../nuage.svg'),url('../nuage.svg'),url('../nuage.svg'),
    url('../nuage.svg'),url('../nuage.svg'),url('../nuage.svg'),
    url('../nuage.svg'),url('../nuage.svg'),url('../nuage.svg');
    background-size: 320px,150px,170px,150px,250px,180px,130px,170px,70px;
    background-position-x: 0%,90%,0%,90%,95%,10%,5%,98%,95%;
    background-position-y: 40%,0%,25%,55%,75%,90%,98%,10%,35%;
    background-repeat:no-repeat;
    .column {
      border: solid rgb(255, 174, 0);
      width: 25%;
      background-color:rgba(0, 0, 0, 0.589);
      padding-left: 1%;
    }

    .message-container {
        width: 25%;
        overflow-y: auto;
        height: 100%;
        border: solid rgb(255, 174, 0);
        background-color:rgba(0, 0, 0, 0.589);
    }
    
    h1 {
        text-align: center;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }   
}