.server-container {
    display: flex;
    height: 100%;
    padding: 1em;

    .list-users-container {
      border: solid;
      width: 25%;
    }

    .chat-container {
        width: 25%;
    }
    
    h1 {
        text-align: center;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }   
}